@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("facebook.com") {

  ._4-u2._5v6e.cardRightCol {
    display: none !important;
  }

  #pagelet_side_ads {
    display: none !important;
  }

  ._5ciw.rhcFooter {
    display: none !important;
  }

  #u_0_3p {
    display: none !important;
  }

}
